#profile-container {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin: auto;
}

#main-container{
    margin: auto;
    width: 50%;
}

.list {
    width: 75%;
    margin: auto;
}

.list ul li {
    margin-top: 20px;
    font-size: 1.2rem;
}
.profile-pic {
    max-width: 300px;
}
.header {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.5rem;
}

.add-form {
    width: 30%;
    margin: auto;
}
.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.main-btn {
    display: block;
    margin: 3% auto;
}