{% extends 'base.html' %}

{% block title %}Edit Post{% endblock%}

{% block header %}Edit Post{% endblock %}

{% block content %}
<form action="/posts/{{post.id}}/edit" method="post">
    <div class="input-container">
        <label for="title">title</label>
        <input type="text" name="title" value="{{post.title}}">
    </div>
    <div class="input-container">
        <label for="content">Content</label>
        <textarea name="content" cols="30" rows="10">{{post.content}}</textarea>
    </div>
    <div class="input-container">
        <button formaction="/users/{{post.user_id}}" formmethod="GET">Cancel</button>
        <button formaction="/posts/{{post.id}}/edit" formmethod="POST">Save</button>
    </div>
</form>

{% endblock %}