{% extends 'base.html' %}

{% block title %}Edit User{% endblock%}

{% block header %}Edit User Profile{% endblock %}

{% block content %}
<form>
    <div class="input-container">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value="{{user.first_name}}">
    </div>
    <div class="input-container">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value="{{user.last_name}}">
    </div>
    <div class="input-container">
        <label for="image_url">Profile Picture URL</label>
        <input type="text" name="image_url" value="{{user.image_url}}">
    </div>
    <div class="input-container">
        <button formaction="/users/{{user.id}}" formmethod="GET">Cancel</button>
        <button formaction="/users/{{user.id}}/edit" formmethod="POST">Save</button>
    </div>
</form>

{% endblock %}