{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock%}

{% block header %}Edit Tag Name{% endblock %}

{% block content %}
<form>
    <div class="input-container">
        <label for="name">Tag Name</label>
        <input type="text" name="name" value="{{tag.name}}">
    </div>
    <div class="input-container">
        <button formaction="/tags/{{tag.id}}" formmethod="GET">Cancel</button>
        <button formaction="/tags/{{tag.id}}/edit" formmethod="POST">Save</button>
    </div>
</form>

{% endblock %}